body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  max-width: 100%;
}

h1 {
  font-weight: normal;
  border-radius: 10px;
  background-color: #04838f;
  padding: 6px 12px;
  color: white;
  text-align: center;
  max-width: 100%;
  display: inline-block;
}

.center-h1 {
  text-align: center;
  display: block;
}

.subtitle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin-bottom: 50px;
}

.subtitle h3 {
  border-radius: 10px;
  padding: 5px;
  border: 2px solid #04838f;
  font-weight: normal;
  color: dimgray;
  margin: 10px;
}

.subtitle-number {
  color: black;
  font-weight: bold;
}

//Default library behavior : chart will adapt to its container size
.custom-chart-container {
  @media (min-width: 350px) {
    max-width: 325px;
  }

  @media (min-width: 400px) {
    max-width: 350px;
  }

  @media (min-width: 768px) {
    max-width: 750px;
  }

  @media (min-width: 1024px) {
    max-width: 1000px;
  }
}

//!important required to override ngx-components default style
.pie-label {
  font-size: 20px !important;
}

.ngx-charts-tooltip-content.type-tooltip {
  background-color: #04838f !important;
}

.ngx-charts-tooltip-content.type-tooltip .tooltip-caret.position-top {
  border-top: 7px solid #04838f !important;
}
